body {
    background-image: url(bg\ food.jpg);
    background-size: cover;
    font-family:'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

.container {
    margin: 6rem auto 0;
    margin-top: 3rem;
    width: 80%;
    background-color: rgba(242, 138, 11, 0.918);
    border: 2px dashed rgb(0, 0, 0);
    border-radius: 20px;
    padding: 1rem;
    box-shadow: 5px 5px;
    overflow: auto;
    box-shadow: #3b3a3a 4px 4px 4px;
  }

  .container h2 {
    text-align: center;
    color: white;
  }

  .jadwal h1 {
    margin: 0;
    padding: 10px;
    border-bottom: 2px dashed rgb(0, 0, 0);
  }

  table {
    width: 100%;
    margin: auto;
    height: 25vb;
    border: 2px dashed rgb(0, 0, 0);
  }

  th, td {
    color: white;
    text-align: center;
    padding: 5.5px;
  }
  
  table td:hover, table th:hover {
    background-color: rgba(158, 28, 18, 0.9);
    color: rgb(255, 255, 255);
    opacity: 1;
    transition: 0.5s;
  }

  th:hover {
    background-color: rgb(252, 206, 142);
    transition: 0.25s;
    opacity: 1;
    color: rgb(255, 255, 255);
  }



  @media (max-width: 600px) {
    .container {
      width: 90%;

    th, td {
     font-size: 14px;
    }
  }
}